<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
    <body>
        <!-- 제목 태그 -->
        <h1>
            Index Page
        </h1>
        <!-- 글 문단 태그 -->
        <p>
            서울=연합뉴스) 김잔디 기자 = 신림역·서현역 흉기난동 사건 이후 온라인 '살인예고' 글이 폭주하면서 하루 만에 작성자 28명이 경찰에 검거됐다.
        </p>
        <p>
            경찰은 살인예고를 '심각한 범죄행위'이자 '직접적 시민안전 위협'으로 규정하고 실제로 흉기를 준비하는 등 범행 의사가 있었을 경우 구속해 수사하기로 방침을 정했다.

            경찰청은 6일 낮 12시까지 전국에서 모두 46명의 살인예고 글 작성자를 검거했다고 밝혔다. 전날 같은 시각 기준 18명에서 하루 만에 28명 늘었다.

            경찰은 전날 오후 5시47분께 인스타그램에 "계양역에서 7시에 20명을 죽이겠다"고 적은 10대 A군을 집에서 붙잡았다. 부산 서면역에서 흉기난동을 벌이겠다고 예고한 글 작성자는 해군 일병 B씨로 확인돼 경찰이 헌병대에 신병을 넘겼다.

            온라인 살인예고 글은 지난달 21일 신림역 흉기난동 사건 이후 올라오기 시작해 지난 3일 서현역 사건을 기점으로 전국에서 폭증하고 있다.

            검거된 피의자 상당수는 미성년자로 대부분 "장난이었다"고 진술하고 있다. 원주역에서 칼부림을 하겠다고 썼다가 강원 영월군에서 붙잡힌 C(17)군은 자신이 쓴 글을 SNS를 통해 제보하는 자작극을 벌인 것으로 조사됐다.
        </p>

        <a href="/second">Second Page로 이동</a>
    </body>
</html>