<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
    <!-- 유저가 입력할수 있는 공간 생성 -->
    <!-- form 태그의 
        action은 어디로 보낼것인가? -> 주소
        method는 어떠한 방식으로 보낼것인가? -> get/post
    -->
    <!-- form 태그가 하는 행동은 유저가 입력한 데이터를 
        get 방식으로 localhost:3000/data 라는 주소로 보내준다 -->
    <form action="/data" method="post">
        <!-- text를 입력하는 공간 -->
        <input type="text" name="input_text"><br>
        <input type="password" name="input_pass"><br>
        <!-- 유저가 입력한 데이터를 제출한다. -> 제출 버튼 -->
        <input type="submit">
    </form>
</body>
</html>